In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text
import sqlite3

In [43]:
huddf = pd.read_csv('data/hud_insured_multifamily.csv')

C:\Users\mdalt\AppData\Local\Temp\ipykernel_14212\3926192688.py:1: DtypeWarning: Columns (2,19,22,35,36,41,89,90,91,92,95,103,109,111,121,123,125,126,127,164,169,170,176,205,209,217,274) have mixed types. Specify dtype option on import or set low_memory=False.
  huddf = pd.read_csv('data/hud_insured_multifamily.csv')

In [44]:
huddf.head

<bound method NDFrame.head of        OBJECTID  PROPERTY_ID      UGLG_KEY HUB_NAME_TEXT  \
0           1.0  800225589.0       3457600           OHP
1           2.0  800225933.0       4878544  Headquarters
2           3.0  800225983.0       1711202           OHP
3           4.0  800226573.0       5327855           OHP
4           5.0  800226611.0       1379388           OHP
...         ...          ...           ...           ...
16519   16519.0  800254374.0  3401343800.0      New York
16520   16520.0  800255132.0     4829000.0    Fort Worth
16521   16521.0  800255134.0     1963525.0   Kansas City
16522   16522.0  800255144.0       24035.0     Baltimore
16523   16523.0  800255510.0     2674960.0       Detroit

      SERVICING_SITE_NAME_TEXT PROJECT_MANAGER_NAME_TEXT  \
0                          OHP                       NaN
1          Headquarters - BRSC          LESLEY N JOHNSON
2                          OHP                       NaN
3                          OHP                       NaN
4                          OHP                       NaN
...                        ...                       ...
16519                 New York           TAMIKA N PICOTT
16520               Fort Worth          BENNIE L BUNKLEY
16521              Kansas City              MARK E WAYNE
16522                Baltimore        MONISHA T GIDDINGS
16523                  Detroit        BEVERLEY D CRAMNER

                               PROPERTY_NAME_TEXT       ADDRESS_LINE1_TEXT  \
0                           Capital Health System    2500 Van Princis Lane
1       Oak Timbers - White Settlement Apartments    8301 Tumbleweed Trail
2                                     Carlinville  1001 East Morgan Street
3                       Coulee Community Hospital         411 fortuyn Road
4                 Meadows Regional Medical Center        1703 Meadows Lane
...                                           ...                      ...
16519                             Maplewood Lofts     1585 Springfield Ave
16520              Urban Village at Rosehill City        101 Rosehill Road
16521                       Yellowbanks by Kading   5756 S. Cottonwood Ln.
16522                        Slippery Hill Senior  320 Fallen Horse Circle
16523  REDWOOD SOUTHGATE (ALLEN RD MI P2) - PHASE        11801 Durham Road

      ADDRESS_LINE2_TEXT AUTOMATIC_GEOCODE_IND  ... CHLDRN_MBR_CNT  \
0                    NaN                     Y  ...           -4.0
1                    NaN                     Y  ...           -4.0
2                    NaN                     Y  ...           -4.0
3                    NaN                     Y  ...           -4.0
4                    NaN                     Y  ...           -4.0
...                  ...                   ...  ...            ...
16519                NaN                     Y  ...           -4.0
16520                NaN                     Y  ...           -4.0
16521                NaN                     Y  ...           -4.0
16522                NaN                     Y  ...           -4.0
16523                NaN                     Y  ...           -4.0

      ELDLY_PRCNT  PCT_DISABLED_LT62_ALL  PCT_LT80_MEDIAN MEDIAN_INC_AMNT  \
0            -4.0                   -4.0             -4.0            -4.0
1            -4.0                   -4.0             -4.0            -4.0
2            -4.0                   -4.0             -4.0            -4.0
3            -4.0                   -4.0             -4.0            -4.0
4            -4.0                   -4.0             -4.0            -4.0
...           ...                    ...              ...             ...
16519        -4.0                   -4.0             -4.0            -4.0
16520        -4.0                   -4.0             -4.0            -4.0
16521        -4.0                   -4.0             -4.0            -4.0
16522        -4.0                   -4.0             -4.0            -4.0
16523        -4.0                   -4.0             -4.0            -4.0

             LAST_UPDT_DTTM ANNL_EXPNS_AMNT ANNL_EXPNS_AMNT_PREV_YR  \
0      4/9/2024 10:29:23 PM            -4.0                    -4.0
1      4/9/2024 10:29:23 PM            -4.0                    -4.0
2      4/9/2024 10:29:23 PM            -4.0                    -4.0
3      4/9/2024 10:29:23 PM            -4.0                    -4.0
4      4/9/2024 10:29:23 PM            -4.0                    -4.0
...                     ...             ...                     ...
16519  4/9/2024 10:29:23 PM            -4.0                    -4.0
16520  4/9/2024 10:29:23 PM            -4.0                    -4.0
16521  4/9/2024 10:29:23 PM            -4.0                    -4.0
16522  4/9/2024 10:29:23 PM            -4.0                    -4.0
16523  4/9/2024 10:29:23 PM            -4.0                    -4.0

                  x             y
0     -8.325663e+06  4.913400e+06
1     -1.084962e+07  3.861319e+06
2     -1.000431e+07  4.762177e+06
3     -1.324765e+07  6.097248e+06
4     -9.171998e+06  3.790256e+06
...             ...           ...
16519 -8.266163e+06  4.971486e+06
16520 -1.075156e+07  3.874975e+06
16521 -1.040999e+07  5.099864e+06
16522 -8.483291e+06  4.715500e+06
16523 -9.264787e+06  5.194803e+06

[16524 rows x 286 columns]>

## Clean Data

In [45]:
raw_df = pd.read_csv('data/hud_insured_multifamily.csv')

C:\Users\mdalt\AppData\Local\Temp\ipykernel_14212\3991870264.py:1: DtypeWarning: Columns (2,19,22,35,36,41,89,90,91,92,95,103,109,111,121,123,125,126,127,164,169,170,176,205,209,217,274) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv('data/hud_insured_multifamily.csv')

In [46]:
raw_df.head

<bound method NDFrame.head of        OBJECTID  PROPERTY_ID      UGLG_KEY HUB_NAME_TEXT  \
0           1.0  800225589.0       3457600           OHP
1           2.0  800225933.0       4878544  Headquarters
2           3.0  800225983.0       1711202           OHP
3           4.0  800226573.0       5327855           OHP
4           5.0  800226611.0       1379388           OHP
...         ...          ...           ...           ...
16519   16519.0  800254374.0  3401343800.0      New York
16520   16520.0  800255132.0     4829000.0    Fort Worth
16521   16521.0  800255134.0     1963525.0   Kansas City
16522   16522.0  800255144.0       24035.0     Baltimore
16523   16523.0  800255510.0     2674960.0       Detroit

      SERVICING_SITE_NAME_TEXT PROJECT_MANAGER_NAME_TEXT  \
0                          OHP                       NaN
1          Headquarters - BRSC          LESLEY N JOHNSON
2                          OHP                       NaN
3                          OHP                       NaN
4                          OHP                       NaN
...                        ...                       ...
16519                 New York           TAMIKA N PICOTT
16520               Fort Worth          BENNIE L BUNKLEY
16521              Kansas City              MARK E WAYNE
16522                Baltimore        MONISHA T GIDDINGS
16523                  Detroit        BEVERLEY D CRAMNER

                               PROPERTY_NAME_TEXT       ADDRESS_LINE1_TEXT  \
0                           Capital Health System    2500 Van Princis Lane
1       Oak Timbers - White Settlement Apartments    8301 Tumbleweed Trail
2                                     Carlinville  1001 East Morgan Street
3                       Coulee Community Hospital         411 fortuyn Road
4                 Meadows Regional Medical Center        1703 Meadows Lane
...                                           ...                      ...
16519                             Maplewood Lofts     1585 Springfield Ave
16520              Urban Village at Rosehill City        101 Rosehill Road
16521                       Yellowbanks by Kading   5756 S. Cottonwood Ln.
16522                        Slippery Hill Senior  320 Fallen Horse Circle
16523  REDWOOD SOUTHGATE (ALLEN RD MI P2) - PHASE        11801 Durham Road

      ADDRESS_LINE2_TEXT AUTOMATIC_GEOCODE_IND  ... CHLDRN_MBR_CNT  \
0                    NaN                     Y  ...           -4.0
1                    NaN                     Y  ...           -4.0
2                    NaN                     Y  ...           -4.0
3                    NaN                     Y  ...           -4.0
4                    NaN                     Y  ...           -4.0
...                  ...                   ...  ...            ...
16519                NaN                     Y  ...           -4.0
16520                NaN                     Y  ...           -4.0
16521                NaN                     Y  ...           -4.0
16522                NaN                     Y  ...           -4.0
16523                NaN                     Y  ...           -4.0

      ELDLY_PRCNT  PCT_DISABLED_LT62_ALL  PCT_LT80_MEDIAN MEDIAN_INC_AMNT  \
0            -4.0                   -4.0             -4.0            -4.0
1            -4.0                   -4.0             -4.0            -4.0
2            -4.0                   -4.0             -4.0            -4.0
3            -4.0                   -4.0             -4.0            -4.0
4            -4.0                   -4.0             -4.0            -4.0
...           ...                    ...              ...             ...
16519        -4.0                   -4.0             -4.0            -4.0
16520        -4.0                   -4.0             -4.0            -4.0
16521        -4.0                   -4.0             -4.0            -4.0
16522        -4.0                   -4.0             -4.0            -4.0
16523        -4.0                   -4.0             -4.0            -4.0

             LAST_UPDT_DTTM ANNL_EXPNS_AMNT ANNL_EXPNS_AMNT_PREV_YR  \
0      4/9/2024 10:29:23 PM            -4.0                    -4.0
1      4/9/2024 10:29:23 PM            -4.0                    -4.0
2      4/9/2024 10:29:23 PM            -4.0                    -4.0
3      4/9/2024 10:29:23 PM            -4.0                    -4.0
4      4/9/2024 10:29:23 PM            -4.0                    -4.0
...                     ...             ...                     ...
16519  4/9/2024 10:29:23 PM            -4.0                    -4.0
16520  4/9/2024 10:29:23 PM            -4.0                    -4.0
16521  4/9/2024 10:29:23 PM            -4.0                    -4.0
16522  4/9/2024 10:29:23 PM            -4.0                    -4.0
16523  4/9/2024 10:29:23 PM            -4.0                    -4.0

                  x             y
0     -8.325663e+06  4.913400e+06
1     -1.084962e+07  3.861319e+06
2     -1.000431e+07  4.762177e+06
3     -1.324765e+07  6.097248e+06
4     -9.171998e+06  3.790256e+06
...             ...           ...
16519 -8.266163e+06  4.971486e+06
16520 -1.075156e+07  3.874975e+06
16521 -1.040999e+07  5.099864e+06
16522 -8.483291e+06  4.715500e+06
16523 -9.264787e+06  5.194803e+06

[16524 rows x 286 columns]>

In [47]:
raw_df = raw_df.drop(columns=["PROJECT_MANAGER_NAME_TEXT","AUTOMATIC_GEOCODE_IND"])

In [48]:
raw_df = raw_df.dropna()

In [49]:
raw_df = raw_df.fillna(0)

In [50]:
raw_df.to_csv('data/hud_insured_multifamily_clean.csv', index=False)

## SQL + QUESTIONS + ANSWERS

In [51]:
## connect to a db
conn = sqlite3.connect('database.db')

create_table_command = """
CREATE TABLE IF NOT EXISTS HUD_Insured_Multifamily_Properties (
    ID INTEGER PRIMARY KEY,
    ROOMS INTEGER,
    BATHROOMS INTEGER,
    UNITS INTEGER,
    STORIES INTEGER
)
"""

# Function to execute the create table command
def execute_create_table(conn):
    conn.execute(create_table_command)
    conn.commit()

# Call the function to create the table
execute_create_table(conn)

In [52]:
# Function to insert individual values into the table
def insert_values_into_table(conn, id, rooms, bathrooms, units, stories):
    sql = """
    INSERT INTO HUD_Insured_Multifamily_Properties (ID, ROOMS, BATHROOMS, UNITS, STORIES)
    VALUES (?, ?, ?, ?, ?)
    """
    cur = conn.cursor()
    cur.execute(sql, (id, rooms, bathrooms, units, stories))
    conn.commit()

In [53]:
# Function to insert values into the table from a CSV file
def insert_values_from_csv(conn, csv_file_path):
    df = pd.read_csv(csv_file_path)

In [54]:
# Insert values into the table from a CSV file
insert_values_from_csv(conn, 'data/hud_insured_multifamily_clean.csv')


# Query the table
table = pd.read_sql_query("SELECT * FROM HUD_Insured_Multifamily_Properties", conn)

# Make sure to close the connection when done
conn.close()

In [55]:
# Create a database connection
conn = sqlite3.connect('database.db')

In [56]:
# Insert values into the table from a CSV file
insert_values_from_csv(conn, 'data/hud_insured_multifamily_clean.csv')

In [57]:
# Query the table
table = pd.read_sql_query("SELECT * FROM HUD_Insured_Multifamily_Properties", conn)

In [58]:
# Make sure to close the connection when done
conn.close()

In [59]:
### answer the questions
questions = [
    "What is the average number of rooms per property?",
    "What is the average number of bathrooms per property?",
    "What is the average number of units per property?",
    "What is the average number of stories per property?",
    "What is the average number of units per property?",
]

In [60]:
# Database connection
database = 'database.db'

# Blank array to store answers to the questions
answers = []

# Connect to the database using a context manager
with sqlite3.connect(database) as conn:
    # Query to calculate the average number of rooms per property
    query_1 = "SELECT AVG(ROOMS) FROM HUD_Insured_Multifamily_Properties"
    
    # Execute the query and append the result to the answers list
    answers.append(conn.execute(query_1).fetchone()[0])

# Output the result
print(answers)

[None]

In [61]:
### what is the average number of bathrooms per property?
query_2 = """
SELECT AVG(BATHROOMS) FROM HUD_Insured_Multifamily_Properties
"""

answers.append(conn.execute(query_2).fetchone()[0])

In [83]:
# Ensure that 'questions' and 'answers' are defined as lists before this code
# questions = ['Question 1', 'Question 2', ...]
# answers = ['Answer 1', 'Answer 2', ...]

# Create a DataFrame from questions and answers
querys_and_answers = pd.DataFrame({
    "Questions": questions,
    "Answers": answers
})

# Export the DataFrame to a CSV file without the index
querys_and_answers.to_csv('data/Questions_and_Answers.csv', index=False)

ValueError: All arrays must be of the same length